-# edit.html.haml using partial

%h1 Edit Existing Proctor

= form_tag examinationroom_path(@proctor), :method => :put do

  = label :proctor, :firstname, 'Firstname'
  = text_field :proctor, 'firstname'
  
  = label :proctor, :lastname, 'Lastname'
  = text_field :proctor, 'lastname'

  = label :proctor, :position, 'Position'
  = select :proctor, :position, ['Professor','Officer']

  = submit_tag 'Update Proctor Info'