-#  This file is app/views/examinationrooms/index.html.haml
%h1 Proctor Management Module
%a.m5{:href => "/"} HOME
%a.m5{:href => "/abouts"} ABOUT US

.link
  =link_to ' Add Proctor', new_examinationroom_path


.containner
  .containerLeft
    %table#examinationrooms
      %thead
        %tr
          %th Room_id
          %th Room_name
          %th Date_time
          
      %tbody
        - @examinationrooms.each do |examinationroom|
          %tr
            %td= examinationroom.room_id
            %td= examinationroom.room_name
            %td= examinationroom.date_time
           

  .containerRight1  
    %table#proctors
      %thead
        %tr
          %th Proctor_id
          %th Firstname
          %th Lastname
          %th Position 
          %th Room_id
          %th More Info
        %tbody
        - @proctor.each do |proctor|
          %tr
            %td= proctor.proctor_id
            %td= proctor.firstname
            %td= proctor.lastname
            %td= proctor.position
            %td= proctor.procroom_id
            %td= link_to "Details about #{proctor.firstname}", examinationroom_path(proctor.procroom_id)
