-# in app/views/examinationrooms/show.html.haml

%h2 Details about #{@proctor.firstname}

%ul#details
  %li
    Name:
    = @proctor.firstname + ' ' + @proctor.lastname
    
  %li
    Position:
    = @proctor.position
  %li
    Examination Room:
    = @proctor.procroom_id

%h3 Description:



= link_to 'Edit', edit_examinationroom_path(@proctor)
= button_to 'Delete', examinationroom_path(@proctor), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to main', examinationroom_path
